html, body {
  height: 100%;
  background-color: #4BB153 !important;
}
.main-form{
  width: 100%;
  height: 100%;
  padding: 20%;
}
.input-num {
  height: 45px !important;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px !important;
}
.main-title {
  text-align: center;
  color: white;
}
.main-button {
  width: 100%;
  background-color: #F9593A;
  border-radius: 5px;
  border-color: #F9593A;
  margin-bottom: 20px;
}

.fractions {
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 0;
}