html, body {
  height: 100%;
  background-color: #4BB153 !important;
}
.main-form{
  width: 100% !important;
  height: 100%;
  padding: 20% !important;
  background-color: blue !important;
}
.input-num {
  height: 45px !important;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px !important;
}